In [ ]:
Que no 2

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import matplotlib.pyplot as plt

In [4]:
import seaborn as sns

In [37]:
from sklearn import svm

In [35]:
import sys

In [5]:
%matplotlib inline

In [29]:
df=pd.read_excel('Desktop/data_final.xlsx')

In [43]:
df.head()

   observation  feature   price
0         0.44     0.68  511.14
1         0.99     0.23  717.10
2         0.84     0.29  607.91
3         0.28     0.45  270.40
4         0.07     0.83  289.88

In [55]:
x = df.iloc[:,:-1]
x

    observation  feature
0          0.44     0.68
1          0.99     0.23
2          0.84     0.29
3          0.28     0.45
4          0.07     0.83
..          ...      ...
95         0.99     0.13
96         0.28     0.46
97         0.87     0.36
98         0.23     0.87
99         0.77     0.36

[100 rows x 2 columns]

In [27]:
df.shape

(100, 2)

In [28]:
df.info

<bound method DataFrame.info of     Observation       Price
0          0.44  0.68511.14
1          0.99   0.23717.1
2          0.84  0.29607.91
3          0.28   0.45270.4
4          0.07  0.83289.88
..          ...         ...
95         0.99  0.13636.22
96         0.28  0.46272.12
97         0.87  0.36696.65
98         0.23  0.87434.53
99         0.77  0.36593.86

[100 rows x 2 columns]>

In [56]:
y = df['price'].values
y

array([ 511.14,  717.1 ,  607.91,  270.4 ,  289.88,  830.85, 1038.09,
        455.19,  640.17,  511.06,  177.03, 1242.52,  891.37, 1339.72,
        169.88,  276.05,  517.43,  522.25,  932.21,  851.25,  640.11,
        308.68, 1046.05,  332.4 ,  171.85,  109.55,  361.97,  872.21,
        303.7 ,  256.38,  341.2 , 1194.63,  408.6 ,  895.54,  518.25,
        638.75,  301.9 ,  163.38,  240.77, 1449.05,  609.  ,  174.59,
        593.45,  355.96,  671.46, 1193.7 ,  278.88,  411.4 ,   42.08,
        166.19,   58.62,  642.45,  368.14,  702.78,  615.74,  143.79,
        109.  ,  328.28,  205.16, 1360.49,  905.83,  487.33,  202.76,
        202.01,  148.87,  745.3 ,  503.04, 1563.82,  165.21,  438.4 ,
         98.47,  819.63,  174.44,  483.13,  534.24,  572.31,  957.61,
        518.29, 1143.49, 1211.31,  784.74,  283.7 ,  684.38,  719.46,
        292.23,  775.68,  130.77,  801.6 ,  323.55,  726.9 ,  661.12,
        771.11, 1016.14,  237.69,  325.89,  636.22,  272.12,  696.65,
        434.53,  593.86])

In [59]:
from sklearn.model_selection import train_test_split
x_train, x_test,y_train,y_test = train_test_split(x,y,test_size=0.2, random_state=0)

In [64]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x,y)

LinearRegression()

LinearRegression()

In [66]:
from sklearn.metrics import r2_score

In [67]:
y_pred = model.predict(x_test)
print(r2_score(y_test, y_pred))

0.9520803113915313

In [73]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x,y)

LinearRegression()

In [76]:
from sklearn.preprocessing import PolynomialFeatures
reg=PolynomialFeatures(degree=3)
poly=reg.fit_transform(x)
model1=LinearRegression()
model1.fit(poly,y)

LinearRegression()